[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
colorama = "*"
environs = "*"
grpcio = "*"
idna = "*"
marshmallow = "*"
numpy = "*"
packaging = "*"
pandas = "*"
protobuf = "*"
pymilvus = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
six = "*"
tqdm = "*"
tzdata = "*"
ujson = "*"
urllib3 = "*"
streamlit = "*"
matplotlib = "*"
gwpy = "*"
helper = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
